{% extends "../base.html" %}
{% block titulo %}Alta de especialidad{% endblock %}

{% load static %}



{% block titulo_principal %}Alta de una nueva especialidad{% endblock %}
{% block principal %}

<div class="contenedor-turnos">
    
</div>

<div class="formulario  formularioespecialidad">
    
    <br>
    <h3> Indicar la nueva especialidad </h3>
    <br>
    <form method="POST" action=" {% url 'especialidad-alta' %} ">

    {% csrf_token %}
    {{ form.as_p }}

    <div class="d-flex justify-content-center">
        <button type="submit" id="boton-enviar" class="btn btn-primary" placeholder="hola">Realizar alta</button>
    </div>

    </form>
    <br>
<div>




{% endblock %}
{% block fecha %} 
    {{ block.super }}
{% endblock %}