{% extends "../base.html" %}
{% block titulo %}Especialidades{% endblock %}


{% load static %}

{% block titulo_principal %}Especialidades que se atienden{% endblock %}


{% block principal %}
{% comment %}
Desde la vista especialidades se redirige a esta template 
y nos envia una lista con diferentes especialidades medicas
esa lista llega con el nombre: especialidades
{% endcomment %}
   

{% comment %} listamos cada una de las especialidades de la lista {% endcomment %}
<br>
    <ul>
        {% for especialidad in especialidades %}
            <li>
                {{ especialidad.0 }}<br>
            </li><br>
        {% endfor %}
    </ul>
{% endblock %}
{% block fecha %} 
    {{ block.super }}
{% endblock %}