{% extends "../base.html" %}
{% block titulo %}Solicitar Turno{% endblock %}

{% load static %}



{% block titulo_principal %}Solicitud de turno{% endblock %}
{% block principal %}

{% comment %} Inicio de No borrar, es una prueba {% endcomment %}
{% comment %} <div class="verificar-dni"> {% endcomment %}
    {% comment %} <input type="text" id="dni" name="dni"> {% endcomment %}
    {% comment %} <button id="verificar-dni" class="btn btn-outline-dark mt-2">Verificar DNI</button> {% endcomment %}
{% comment %} </div> {% endcomment %}
{% comment %} fin de no borrar, es una prueba {% endcomment %}
    {% if cantidad_pacientes == 0 %}
    <img class="card-img-top gif-cargue-paciente" src="{% static 'mediturnosApp/img/cargue-paciente.gif' %}" alt="Cargando...">
    {% else %}
        {% if cantidad_medicos == 0 %}
                <img class="card-img-top gif-cargue-medicos-turno" src="{% static 'mediturnosApp/img/cargue-medicos.gif' %}" alt="Cargando...">
            {% else %}
            <div>
                <div class="formulario row">
                    
                    <br>
                    <h3 class="text-center"> Complete el siguiente el formulario:</h3>
                    <br>
                    <form method="POST" action=" {% url 'solicitar-turno' %} " class="col-12 col-md-8">

                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="d-flex justify-content-center">
                        <button type="submit" id="boton-enviar" class="btn btn-primary">Solicitar turno</button>
                    </div>

                    </form>
                    <br>
                </div>

            </div>
        {% endif %}
    {% endif %}


{% comment %} Inicio de No borrar, es una prueba {% endcomment %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() { //esta funcion se ejecuta solo cuando el documento este completamente cargado
        var dniExiste = false; //esto es para cambiar a true si se comprueba que el dni existe

        var csrf_token = $("[name=csrfmiddlewaretoken]").val();  // Obtener el token CSRF del formulario  (esto es importante para las solicitudes POST seguras).
        $("#verificar-dni").click(function() { //Cuando se haga click en el boton verificar-dni, se ejecutará esta funcion
            var dni = $("#dni").val(); //obtener el valor del input dni
            $.ajax({ //realizamos una solicitud AJAX POST a la URL "/verificar_dni de urls.py".  utilizando la función $.ajax() de jQuery.
                type: "POST",  //es una solicitud de tipo POST, significa que estamos enviando datos al servidor
                url: "/verificar_dni", //a esta direccion de urls.py
                data: { //Definimos los datos que se enviaran en la solicitud POST
                    csrfmiddlewaretoken: csrf_token,  // Agregar el token CSRF por seguridad
                    dni: dni //el valor del input dni, es el número de DNI que el usuario ha ingresado.
                },
                success: function(datosDeRespuesta) { //Definimos la funcion que se ejecutara cuando la solicitud AJAX sea exitosa y se reciba una respuesta con los datosDeRespuesta de la vista 
                    if (datosDeRespuesta.existe) {// Comprobamos si el objeto data recibido en la respuesta del servidor (de la vista viene esta respuesta), contiene la propiedad "existe" en true. Si esta en true significa que el DNI existe en la base de datos.
                        alert("El DNI existe, en la tabla Paciente de la base de datos."); //entonces, lanzamos una alerta diciendo que el dni existe en la base de datos
                        dniExiste = true;
                    } else {
                        alert("El DNI no existe, en la tabla Paciente de la base de datos.");//caso contrario, lanzamos una alerta diciendo que el dni no existe en la base de datos
                        dniExiste = false;
                    }
                }
            });
        });
    });
</script>    
{% comment %} fin de no borrar, es una prueba {% endcomment %}


{% endblock %}
{% block fecha %} 
    {{ block.super }}
{% endblock %}