{% extends "../base.html" %}
{% block titulo %}Solicitud de turno{% endblock %}

{% load static %}



{% block titulo_principal %}Formulario para solicitar turnos{% endblock %}
{% block principal %}



<div class="formulario">
    <br>
    <form method="POST" action=" {% url 'solicitarturno' %} ">

    {% csrf_token %}
    {{ formulario.as_p }}

    <button type="submit" class="btn btn-primary">Enviar</button>

    </form>
    <br>
<div>




{% endblock %}
{% block fecha %} 
    {{ block.super }}
{% endblock %}