{% extends "../base.html" %}
{% block titulo %}Solicitud de turno{% endblock %}

{% load static %}



{% block titulo_principal %}Solicite su turno completando el siguiente formulario:{% endblock %}
{% block principal %}

<div class="contenedor-turnos">
    
</div>

<div class="formulario">
    
    <br>
    <form method="POST" action=" {% url 'solicitarturno' %} ">

    {% csrf_token %}
    {{ formulario.as_p }}

    <div class="d-flex justify-content-center">
        <button type="submit" id="boton-enviar" class="btn btn-primary">Enviar</button>
    </div>

    </form>
    <br>
<div>




{% endblock %}
{% block fecha %} 
    {{ block.super }}
{% endblock %}