{% extends "../base.html" %}
{% block titulo %}Alta de nueva especialidad{% endblock %}

{% load static %}



{% block titulo_principal %}Alta de especialidad{% endblock %}
{% block principal %}

    <div class="contenedor-turnos">
        
    </div>

    <br>
    <div class="formulario formulario-especialidad row">

        <h3 class="text-center"> Ingrese los datos de la nueva especialidad: </h3>
        <br>
        <form class="formulario-especialidades-alta col-12 col-md-6" method="POST" action=" {% url 'especialidad-alta' %} " enctype="multipart/form-data">

            {% csrf_token %}
            {{ form.as_p }}
    
            <div class="d-flex justify-content-center">
                <button type="submit" id="boton-enviar" class="btn btn-primary container" placeholder="hola">Realizar alta</button>
            </div>
    
        </form>
    </div>

{% endblock %}
{% block fecha %} 
    {{ block.super }}
{% endblock %}