{% extends "../base.html" %}
{% block titulo %}Especialidades{% endblock %}


{% load static %}

{% block titulo_principal %}Especialidades que se atienden{% endblock %}


{% block principal %}
{% comment %}
Desde la vista especialidades se redirige a esta template 
y nos envia una lista con diferentes especialidades medicas
esa lista llega con el nombre: especialidades
{% endcomment %}
   

{% comment %} listamos cada una de las especialidades de la lista {% endcomment %}
<table class="table table-striped">
    <div class="card-especialidad">
        {% for especialidad in especialidades %}
        
            <tr>
                <td rowspan="2">
                    <img src="{{ especialidad.imagen.url }}" width = '110' height="110"/>
                </td>
            </tr>    
            <tr>
                <td class="especialidad-titulo">
                            <!-- <div class="especialidad-titulo"> -->
                    {{ especialidad.nombre }}
                        <!-- </div> -->
                </td>
                <td class="especialidad-descripcion">
                    <!-- <div class="especialidad-descripcion"> -->
                    {{ especialidad.descripcion }}
                    <br><a href="#">Ver médicos</a>
                    <!-- </div> -->
                </td>
            </tr>
        {% endfor %}
    </table>
</div>


    
  <!-- </ul>  -->

{% endblock %}
{% block fecha %} 
    {{ block.super }}
{% endblock %}