*, *>* {
    box-sizing: border-box;
}

.main-container {
    display: flex;
}

.logoDashboard {
    width: 110px;
    height: 91px;
    display: flex;
    justify-content: center;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(243, 241, 234);
    margin-inline-end: 1rem;  
    box-shadow: 3px 0px 12px rgba(0, 0, 0, .2);
}

.content {
    min-height: 100vh;
    width: 100%;
}
.btn-toggle::before {
    /* width: 1.25em; */
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }

.btn-toggle[aria-expanded="true"]::before {
transform: rotate(90deg);
}

.btn-toggle:focus {
    /* Estilos que deseas aplicar cuando el botón recibe el foco */
    outline: 2px solid #8aaed4; /* Un borde azul como ejemplo, puedes ajustarlo según tus preferencias */
}



.sidebar ul li {
    padding: .8rem .5rem;
}
.sidebar ul li:hover {
    background: #ececec;
    border-radius: .5rem;
}

.sidebar .btn-toggle-nav li{
    font-size: .8rem;
    padding: .5rem;
}
.sidebar .btn-toggle-nav li:hover{
    background: #f8f8f8;
}
.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.offcanvas-backdrop {
    display: none; /* Oculta el fondo negro generado por Bootstrap */
}



@media (max-width:991.98px) {
     #sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
        overflow-y: auto;
        transition: left 0.3s;
        z-index: 2;
        box-shadow: none;
    }

    #sidebar.show {
        left: 0;
        box-shadow: 5px 0px 10px rgba(0, 0, 0, .2);
    }

    #main-container {
        margin-left: 0; /* Agrega esto para ajustar el margen del contenido cuando el sidebar está abierto */
        transition: margin-left 0.3s;
    }

    
}

.blue-clr {
    color: #4079b1;
}
.blue-dark-clr {
    color: #162636;
}

.icon-wrapper {
    display: inline-block;
    padding: 1rem;
    border-radius: .5rem;
}
.icon-wrapper[data-color='light-blue'] {
    background-color: #0d6dfd59;
}

.icon-wrapper[data-color='light-green'] {
    background-color: #98cebe;
}

.icon-wrapper i {
    font-size: 3.5rem;
    color: rgb(22, 34, 53);
}
.card-link {
    font-size: 1.2rem;
    color: #4079b1;
}
.card-link:hover {
    color: rgb(48, 48, 48);
}
.admin-card {
    transition: all 250ms ease;
}
.admin-card:hover {
    transform: scale(98%);
}


.form-admin {
    transform: none;
}
.form-admin input {
    box-shadow: none;
}
.card-admin div{
    background: rgba(242, 241, 238, 0.323);
    transition: all 250ms ease;
}
.card-admin div:hover {
    transform: scale(98%);
}