body{
    margin-top: 15px;
}

.logo{
    width: 110px;
    height: 91px;
}

.footer-bottom {
    background-color: #f0f0f0; /* Color de fondo del footer */
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

.display-5{
    font-weight: 320;
}

