* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
  height: 100%;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.user p {
  color: #4079b1;
  margin-top: 1px;
  margin-bottom: 1px;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: baseline;
    background-color: white;
    font-family: 'Encode Sans', sans-serif;
    font-size: 1rem; 
    line-height: 22px;
}

a {
	color: #0d6efd;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: bold;
}

h1 {
	font-size: 2em;
	color: #536B83;
	font-weight: 700;
	font-variant: normal;
	padding: 20px 0 18px;
	margin: 60px 0 0 0;
	display: inline-block;
	position: relative;
}

h4 {
	font-size: 1.1em; 
	color: #1a4848;
	/* padding: 30px 0 10px; */
	line-height: 1.2em;
}

.tituloppal {
	font-size: 2em;
	color: #4079b1;
	font-weight: 700;
	font-variant: normal;
	padding: 20px 0 18px;
	margin: 25px 0 0 0;
	display: flex;
	justify-content: center ;
}

.header {
  background-color: #f3f1ea;
  width: 100%;
}
.navbar {
  background-color: #f3f1ea;
}


.logo{
  width: 0px;
  height: 91px;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.7); */
}




.nav-item {
  color: #3a4958;
  position: relative;
  text-shadow: .6px .6px 1px #0d6efd;
  margin: 10px;
}

.nav-item:hover {
  color: #448fff;
  position: relative;
  text-shadow: .6px .6px 1px #3a4958;
}



.link-item {
  width: 100%;
  height: 100%;
  align-items: center;
  color: #3a4958;
  position: relative;
  text-shadow: .6px .6px 1px #0d6efd;
  
}


.link-item:hover {
  color: #448fff;
  position: relative;
  text-shadow: .6px .6px 1px #3a4958;
  
}

.link-item i:hover{
  scale: 1.5;
}



.footer {
  /* bottom: 0; */
  width: 100%;
  margin: 20px 0 0 0;
  background-color: rgb(152, 173, 212);
	display: grid;
	grid-gap: 0px;
	grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .7fr;
}


.footer-redes {
	grid-column: 1/3;
	grid-row: 1/2;
  background-color: #e6e0cf;
  color: #244361;
  text-align: center;
  padding: 1.5rem 0;
}

.footer-derechos {
	grid-column: 1/2;
	grid-row: 2/3;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.footer-derechos p {
  margin: 0;
}

/* .footer-derechos>div {
	color: #e6e0cf;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
	justify-content: center; 

} */
.footer-fecha {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .footer-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
} */

.footer-redes-items a {
  margin-inline: .5rem;
}

.footer-links {
  display: flex;
  display: row;
  justify-content: space-around;
}

.footer-links a {
	padding: 15px;
	font-size: 1.3em;
}

.footer-links a:hover {
	padding: 15px;
	font-size: 1.3em;
	color: #0d6efd;
}

.contenedor {
	width: 100%;
	max-width: 1000px;
	margin: 60px auto 40px;
	display: grid;
	grid-gap: 20px;	
}

.carrusel-contenido {
	grid-column: 1/3;
	grid-row: 1/2;
	border-radius: 0.7em;
    overflow: hidden;
	filter: drop-shadow(2px 2px 4px rgba(156, 154, 154, 0.7));
}

.carrusel-caja {
    -moz-animation: automatizacion 18s infinite linear;
    -o-animation: automatizacion 18s infinite linear;
    -webkit-animation: automatizacion 18s infinite linear;
    animation: automatizacion 18s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 100%; 
    width: 300%;
}
.cantidad-medicos{
  display:flex;
  justify-content: center;
  font-weight: 600;
}

.carrusel-elemento {
    float: left;
    width: 33.333%;
}

.imagenes{
	object-fit: scale-down;
	width: 100%;
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

form{
  transform: translateY(-50px);
}

@keyframes agitar {
  0%, 100% { transform: rotate(-3deg); }
  25%, 75% { transform: rotate(25deg); }
  50% { transform: rotate(-3deg); }
}

.div-imagen-agenda:hover{
  display: inline-block;
  animation: agitar 5s infinite;
}

.card-especialidad {
  display: flex;
  align-items: center;
  justify-content: center;
}
.especialidad {
  border: 1px solid #dedede;
  margin-top: 25px;  
  margin-left: 20px;
  /* width: 60%; */

}

/* .especialidad-imagen{ */
  /* max-width: 100%;
  height: 100%;
  scale: 1.5; */
  /* margin-top: 20px;
  margin-bottom: 2px;
  margin-right: 25px; */
/* } */


.especialidad-titulo {
  display: flex; 
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #507dbb;
  font-weight: 700;
  font-size: 20px;
  vertical-align: middle; 
  text-align: center; 
  margin-right: 50px;
}


.especialidad-descripcion { 
  width: 50px;
  /* padding: 10px; */
  /* margin-bottom: 5px; */
  /* vertical-align: middle; */
} 

/* .texto-ver-medicos{ */
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
/* } */
/*
.fecha{
  position: fixed;
  right: 10px;
  bottom: 70px;
 
} */

/* @keyframes agrandarYachicar {q 
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
} */

/* .logo:hover{
  scale: 1.10;
  transition: 2s; 
}*/

/* .botonesEncabezado{
  transform: translateY(15px); 
  border-color: #ac8984;
  color: #04405c;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
} */

/* .nav-link:hover{
  transform: translateY(20px);
  background-color: #0d6dfdba;
  color:rgba(255, 255, 255, 0.852);
  scale: 1.05;
  transition: 0.17s;
} */

/* .nav-item{
  width: 160px;
  margin-left: 10px;
  margin-right: 10px;
} */

/* .encabezado{
  background-color:  #72c4fb91 ;
  border-radius: 40px;
  height: 15vh;
} */

/* .footer-bottom {
    margin-top: 200px;
    background-color:#849cac9e;
    color: black;
    padding: 0px;
    text-align: center;
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0;
  }

.display-5{
    font-weight: 0;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
} */

.item-especialidades{
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  justify-content: center;
  border-style: hidden;
  background-color: #ba98984a;
  
}

.item-especialidades:hover{
  border-radius: 15px;
  background-color: #0d6dfd63;
  transition: 0.1s;
  user-select: none;
}



.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    padding: 20px;
  }
  

.card-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .card-item {
    width: 30%; /* Ancho deseado para cada tarjeta */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
    margin: 10px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc; /* Añade un borde a las tarjetas si lo deseas */
    justify-content: center;
    align-items: center;
  }

  .card:hover{
    scale: 1.06;
    transition: all 0.2s ease-in-out; /* Efecto de transición suave */
    border-color: black;
  }

  .card img {
    width: 35%;
    height: auto;
  }

  .card-text{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .card-title{
    justify-content: center;
    align-items: center;
  }
  .card-img-top{
    margin-top: 10px;
    width: 10px;
    height: 10px;
  }

.formulario{
  /* width: 50%; */
  height: auto; /* Ajusta la altura según sea necesario */
  /* border-style: outset; */
  /* border-color: #0d6dfdba;
  border-width: 10px; */
  /* background-color: #0d6dfd2b; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Esto centrará el div en la página */
  margin-block: .8rem 2rem;
}

.formulario h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}
/* 
.formulario-especialidad{
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  
  text-align: center;
}

.formulario-especialidades-alta{
  display:block;
  text-align: center;
} */

label {

  display: flex;
  margin-bottom: .8rem;
  margin-right: .8rem;
  color: #777;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}
input[type=text], input[type=email], input[type=date], input[type=password], input[type=number], textarea {

  padding: 1rem 1.5rem;
  border: none;
  border-radius: .5rem;
  width: 100%;
  color: #333;
  box-shadow: 0 2px 8px rgb(25, 29, 37);
  text-align: center;
}

select{
  padding: 1rem 1.5rem;
  border: none;
  border-radius: .5rem;
  width: 100%;
  color: #333;
  box-shadow: 0 2px 8px rgb(25, 29, 37);
  text-align:center;
}

.formulario-especialidad{
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  
  /* text-align: center; */
}

.formulario-especialidades-alta{
  display:block;
  text-align: center;
}

.input-no-valido {
    border-color: #FF0000 !important;
    background-color: #FFDDDD !important;
}
input::file-selector-button{
  border: none;
  padding: .5rem;
}
input[type="file"] {
  max-width: 100%;
  padding: 1rem 1.5rem;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);

}
.mostrar-especialidades{
  width: 50%;
  height: auto; /* Ajusta la altura según sea necesario */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Esto centrará el div en la página */
  margin-top:30px;
}

.label-formulario{
  color:red;
}

/* .contenedor{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.contenedor {
	width: 100%;
	max-width: 1000px;
	margin: 10px auto 40px;
	display: grid;
	grid-gap: 20px;	
}


/* .div-imagen-frente {
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .div-imagen-frente img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.contenedor-turnos{
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-imagen-turnos{
  width: 11%;
  height: 11%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-imagen-turnos img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.contenedor-agenda{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-imagen-agenda{
  width: 80%;
  height: 80%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-imagen-agenda img {
  transform: translateX(18px);
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Apariencia de ValidationError */
.errorlist{
  background-color: rgba(255, 255, 0, 0.446)  ;
  color:rgb(0, 0, 0);
}

.messages{
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 13, 0.298);
  width:100%;
  padding: 10px 10px;
  border-radius: 7px;
}

.messages li{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.sucess{
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.medicos-nuevos-img{
  display: flex;
  scale: 1.8;
  margin-top: 40px;
  margin-bottom: 10px;
  
}

.medicomultiple{
  display: flex;
  scale: 1.05;
  margin-top: 20px;
  margin-bottom: 2px;
}

 .tabla{ 
  width: 60%; 
  margin: 0 auto; 
 } 


.tabla td {
  /* background: cyan; */
  padding: 1rem;
  padding-top: 1.5rem;
}


.secciondeedicion{
  color:rgba(159, 35, 35, 0.866);
}

.medicos-nuevos-tarjetas{
  width: 300px;
  /* height: 700px; */
}




#id_especialidades{
  margin-top: 15px;
  list-style: none;
}

#id_especialidades input{
  display:inline-block;
  justify-content: start;
  margin-right: 15px;
}


#id_especialidades > div{
  margin-top: 10px;
}


/* 
.alta-paciente form p:nth-child(6) label{
  display: block; Asegura que el label esté en una línea por sí solo
  text-align: center; Centra el texto horizontalmente
  margin: 0 auto; Centra el elemento en el medio de la pantalla
  width: 50%;
  font-weight: 700;
} */

/* 
.alta-paciente form p:nth-child(6) input{
  display: block; Asegura que el label esté en una línea por sí solo
  text-align: center; Centra el texto horizontalmente
  margin: 0 auto; Centra el elemento en el medio de la pantalla
  width: 50%;
} */

.verificar-dni{
  display: flex;
  gap: .8rem;
  align-items: center;
  position: absolute;
  bottom: 220px; /* Ajusta este valor según tus necesidades */
  right: 50%;
  transform: translateX(50%);
  height: 3rem;
  width: auto;
}
.verificar-dni input,
.verificar-dni button {
  width: 100%
}


@media (max-width: 728px){
  .verificar-dni{
    bottom: 200px; /* Ajusta este valor según tus necesidades */
    width: 90%

  }
}

@media (max-width: 354px){
  .verificar-dni{
    bottom: 170px; /* Ajusta este valor según tus necesidades */
    width: 90%

  }
}

@media (max-width: 320px){
  .verificar-dni{
    bottom: 130px; /* Ajusta este valor según tus necesidades */
    width: 90%

  }
}

/* .nav-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
} */





/*                         Inicio de sesion                                  */


/* importamos la fuente poppins de google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --color-amarillo: #ffcc7e;
    --color-background: #d2cecb;
    --color-hover: #f0f0f0;
}


.container-login{
    /* border-color: #0d6dfdba;
    border-style: outset; */
    /* border-width: 10px; */
    /* background-color: rgba(13, 109, 252, 0.169); */
    box-shadow: 0 2px 8px rgba(10, 45, 99, 0.2);
    padding: 45px;
    border-radius: 10px;
    /* margin-bottom: 20px; */
    /* width: 550px;  */
    
}

.container-login h1{
    text-align: center; 
    margin-bottom: 15px;
    font-weight: 900;
}

.container-login h2{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 40px;
}

.input-inicio-sesion{
    display: block;
    width: 100%;
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    font-family: inherit;
    border: 2px solid #eee;
    font-size: 15px;
    color: #000;  
}

.input-inicio-sesion:focus{
    outline: none;
    border: 2px solid #55c57a   
}

.input-inicio-sesion:focus:invalid{ 
    outline: none;
    border: 2px solid rgb(255, 14, 14);
}

.input-inicio-sesion::-webkit-input-placeholder{
    color: #878b90;
    font-weight: 500;
}

.input-inicio-sesion:not(:last-child){
     margin-bottom: 15px;
}

.input-password{
    position: relative;
    /* width: 440px; */
    height: 55px;
}

.btn-hide-show{
    position:absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    background: none;
    padding: 0 20px;
    cursor: pointer;
}

#hide-password{
    display: none;
}

.parrafo-1{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    margin-top:20px;
    margin-bottom: 30px;
}
/* .btn-primary {
  background-color: #84a3d08c;
} */
.btn-primary, .btn-sign-in{
    margin-top: 35px;
    display: block;
    width: 100%;
    padding: 15px 0;
    border: none;
    background-color: #84a3d0c7;
    color: #333;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 900;
    font-size: 16px;
}

.btn-sign-in:hover{
  background-color: #84a3d0e7;
}

.parrafo-2{
    font-weight: 500;
    font-size: 14px;
    margin: 25px 0;
    text-align: center;
}

.container-btn-login-with{
    display:flex;
    gap: 10px;
}

.btn-login-with{
    flex: 1;
    border: 1px solid #eee;
    background: none;
    padding: 15px;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.btn-login-with:hover{
    background-color: var(--color-hover);
}

.btn-login-with i{
    font-size: 22px;
    margin-right: 10px;
}

.create-account{
    text-align: center;
    margin-top: 25px;
    font-weight: 500;
}

.create-account a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

.gif-cargue-especialidad{
  display: block; /* Asegura que el label esté en una línea por sí solo */
  text-align: center; /* Centra el texto horizontalmente */
  margin: 0 auto; /* Centra el elemento en el medio de la pantalla */
  width: 20%;
  height: 40%;
  font-weight: 700;
  margin-bottom: 120px;
}

.gif-cargue-paciente{
  display: block; /* Asegura que el label esté en una línea por sí solo */
  text-align: center; /* Centra el texto horizontalmente */
  margin: 0 auto; /* Centra el elemento en el medio de la pantalla */
  width: 20%;
  height: 40%;
  font-weight: 700;
  margin-bottom: 120px;
}

.gif-cargue-medicos-turno{
  display: block; /* Asegura que el label esté en una línea por sí solo */
  text-align: center; /* Centra el texto horizontalmente */
  margin: 0 auto; /* Centra el elemento en el medio de la pantalla */
  width: 20%;
  height: 40%;
  font-weight: 700;
  margin-bottom: 120px;
}

.gif-cargue-medicos{
  display: block; /* Asegura que el label esté en una línea por sí solo */
  text-align: center; /* Centra el texto horizontalmente */
  margin: 0 auto; /* Centra el elemento en el medio de la pantalla */
  width: 20%;
  height: 40%;
  font-weight: 700;
}