* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    background-color: white;
    font-family: 'Encode Sans', sans-serif;
    font-size: 1rem; 
    line-height: 22px;
}

a {
	color: #0d6efd;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: bold;
}

h1 {
	font-size: 2em;
	color: #536B83;
	font-weight: 700;
	font-variant: normal;
	padding: 20px 0 18px;
	margin: 60px 0 0 0;
	display: inline-block;
	position: relative;
}

h4 {
	font-size: 1.1em; 
	color: #1a4848;
	/* padding: 30px 0 10px; */
	line-height: 1.2em;
}

.tituloppal {
	font-size: 2em;
	color: #4079b1;
	font-weight: 700;
	font-variant: normal;
	padding: 20px 0 18px;
	margin: 90px 0 0 0;
	display: flex;
	justify-content: center ;
}

header {
  background-color: #f3f1ea;
  height: 95px;
  width: 100%;
  color:#536B83;
  border-bottom: 1.1px solid rgb(152, 173, 212);
  border-top: 5px solid #0d6efd;
  box-shadow: 1px 5px 5px -5px grey;
  padding: 0 0.4rem;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;    
  position: fixed;
  z-index: 1;
}

.logo{
  width: 110px;
  height: 91px;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.7); */
}




.nav-item {
  color: #3a4958;
  position: relative;
  text-shadow: .6px .6px 1px #0d6efd;
  margin: 10px;
}

.nav-item:hover {
  color: #448fff;
  position: relative;
  text-shadow: .6px .6px 1px #3a4958;
}



.link-item {
  width: 100%;
  height: 100%;
  align-items: center;
  color: #3a4958;
  position: relative;
  text-shadow: .6px .6px 1px #0d6efd;
  
}


.link-item:hover {
  color: #448fff;
  position: relative;
  text-shadow: .6px .6px 1px #3a4958;
  
}

.link-item i:hover{
  scale: 1.5;
}



footer {
	/* background-color: #e6e0cf; */
  border-top: 1px solid rgb(95, 95, 95);
  bottom: 0;
  width: 100%;
  margin: 20px 0 0 0;
  background-color: rgb(152, 173, 212);
	display: grid;
	grid-gap: 0px;
	grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .7fr;
}


.footer-redes {
	grid-column: 1/3;
	grid-row: 1/2;
  background-color: #e6e0cf;
  text-align: center;
  padding: 10px 0;
  color: #244361;
}

.footer-derechos {
	grid-column: 1/2;
	grid-row: 2/3;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-derechos>div {
	color: #e6e0cf;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
	justify-content: center; 

}
.footer-fecha {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .footer-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
} */

.footer-links {
  display: flex;
  display: row;
  justify-content: space-around;
}

.footer-links a {
	padding: 15px;
	font-size: 1.3em;
}

.footer-links a:hover {
	padding: 15px;
	font-size: 1.3em;
	color: #0d6efd;
}

.contenedor {
	width: 100%;
	max-width: 1000px;
	margin: 60px auto 40px;
	display: grid;
	grid-gap: 20px;	
}

.carrusel-contenido {
	grid-column: 1/3;
	grid-row: 1/2;
	border-radius: 0.7em;
    overflow: hidden;
	filter: drop-shadow(2px 2px 4px rgba(156, 154, 154, 0.7));
}

.carrusel-caja {
    -moz-animation: automatizacion 18s infinite linear;
    -o-animation: automatizacion 18s infinite linear;
    -webkit-animation: automatizacion 18s infinite linear;
    animation: automatizacion 18s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 100%; 
    width: 300%;
}
.cantidad-medicos{
  display:flex;
  justify-content: center;
  font-weight: 600;
}

.carrusel-elemento {
    float: left;
    width: 33.333%;
}

.imagenes{
	object-fit: scale-down;
	width: 100%;
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}


@keyframes agitar {
  0%, 100% { transform: rotate(-3deg); }
  25%, 75% { transform: rotate(25deg); }
  50% { transform: rotate(-3deg); }
}

.div-imagen-agenda:hover{
  display: inline-block;
  animation: agitar 5s infinite;
}

/*
.fecha{
  position: fixed;
  right: 10px;
  bottom: 70px;
 
} */

/* @keyframes agrandarYachicar {q 
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
} */

/* .logo:hover{
  scale: 1.10;
  transition: 2s; 
}*/

/* .botonesEncabezado{
  transform: translateY(15px); 
  border-color: #ac8984;
  color: #04405c;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
} */

/* .nav-link:hover{
  transform: translateY(20px);
  background-color: #0d6dfdba;
  color:rgba(255, 255, 255, 0.852);
  scale: 1.05;
  transition: 0.17s;
} */

/* .nav-item{
  width: 160px;
  margin-left: 10px;
  margin-right: 10px;
} */

/* .encabezado{
  background-color:  #72c4fb91 ;
  border-radius: 40px;
  height: 15vh;
} */

/* .footer-bottom {
    margin-top: 200px;
    background-color:#849cac9e;
    color: black;
    padding: 0px;
    text-align: center;
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0;
  }

.display-5{
    font-weight: 0;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
} */

.item-especialidades{
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  justify-content: center;
  border-style: hidden;
  background-color: #ba98984a;
  
}

.item-especialidades:hover{
  border-radius: 15px;
  background-color: #0d6dfd63;
  transition: 0.1s;
  user-select: none;
}



.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    padding: 20px;
  }
  

.card-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .card-item {
    width: 30%; /* Ancho deseado para cada tarjeta */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
    margin: 10px;
  }
  
  .card {
    width: 100%;
    border: 1px solid #ccc; /* Añade un borde a las tarjetas si lo deseas */
    justify-content: center;
    align-items: center;
    height: 250px;
  }

  .card:hover{
    scale: 1.06;
    transition: all 0.2s ease-in-out; /* Efecto de transición suave */
    border-color: black;
  }

  .card img {
    width: 35%;
    height: auto;
  }

  .card-text{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .card-title{
    justify-content: center;
    align-items: center;
  }
  .card-img-top{
    margin-top: 10px;
    width: 10px;
    height: 10px;
  }

.formulario{
  width: 50%;
  height: auto; /* Ajusta la altura según sea necesario */
  border-style: outset;
  border-color: #0d6dfdba;
  border-width: 10px;
  background-color: #0d6dfd2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Esto centrará el div en la página */
  margin-top:30px;
}

.input-no-valido {
    border-color: #FF0000 !important;
    background-color: #FFDDDD !important;
}

.mostrar-especialidades{
  width: 50%;
  height: auto; /* Ajusta la altura según sea necesario */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Esto centrará el div en la página */
  margin-top:30px;
}

.label-formulario{
  color:red;
}

/* .contenedor{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.contenedor {
	width: 100%;
	max-width: 1000px;
	margin: 10px auto 40px;
	display: grid;
	grid-gap: 20px;	
}

/* .div-imagen-frente {
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .div-imagen-frente img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.contenedor-turnos{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-imagen-turnos{
  width: 11%;
  height: 11%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-imagen-turnos img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.contenedor-agenda{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-imagen-agenda{
  width: 80%;
  height: 80%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-imagen-agenda img {
  transform: translateX(18px);
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Apariencia de ValidationError */
.errorlist{
  background-color: rgba(255, 255, 0, 0.446)  ;
  color:rgb(0, 0, 0);
}

.messages{
  position: relative;
  top: 50%;
  left: 40%;
  background-color: rgba(0, 255, 85, 0.298);
  width:35%;
  padding: 10px 10px;
  border-radius: 7px;
}

.messages li{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.medicosnuevos{
  display: flex;
  scale: 2.5;
  margin-top: 40px;
  margin-bottom: 30px;
}

.secciondeedicion{
  color:rgba(159, 35, 35, 0.866);
}