body{
    display: flex;
    background: linear-gradient(to right, #ffffff, #0860e44b);
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 100px; /* Ajusta el margen inferior del cuerpo para dejar espacio para el footer */
}

.logo{
    width: 110px;
    height: 91px;
    /* animation: agrandarYachicar 1.5s ease-in-out 1; */
}

.fecha{
  position: fixed; /* o absolute */
  right: 10px;
  bottom: 70px;
 
}

/* @keyframes agrandarYachicar {q 
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
} */

.logo:hover{
  scale: 1.10;
  transition: 2s;
}

.botonesEncabezado{
  transform: translateY(15px); 
  border-color: #849cac;
  color: #04405c;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
}

.nav-link:hover{
  transform: translateY(20px);
  background-color:  #84a4ac;
  color:rgba(255, 255, 255, 0.852);
  scale: 1.05;
  transition: 0.17s;
}

.nav-item{
  width: 160px;
  margin-left: 10px;
  margin-right: 10px;
}

.encabezado{
  background-color:  #2caca454 ;
  border-radius: 40px;
  height: 15vh;
}

.footer-bottom {
    margin-top: 200px;
    background-color:  #849cac; /* Color de fondo del footer */
    color: black;
    padding: 0px;
    text-align: center;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
  }

.display-5{
    font-weight: 0;
    text-align: center; /* Centra el texto horizontalmente */
    display: flex; /* Utiliza flexbox para centrar verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    
}


.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    padding: 20px;
  }
  

.card-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .card-item {
    width: 30%; /* Ancho deseado para cada tarjeta */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
    margin: 10px;
  }
  
  .card {
    width: 100%;
    border: 1px solid #ccc; /* Añade un borde a las tarjetas si lo deseas */
    justify-content: center;
    align-items: center;
    height: 250px;
  }

  .card:hover{
    scale: 1.06;
    transition: all 0.2s ease-in-out; /* Efecto de transición suave */
    border-color: black;
  }

  .card img {
    width: 35%;
    height: auto;
  }

  .card-text{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .card-title{
    justify-content: center;
    align-items: center;
  }
  .card-img-top{
    margin-top: 10px;
    width: 10px;
    height: 10px;
  }

.formulario{
  width: 50%;
  height: auto; /* Ajusta la altura según sea necesario */
  border-style: outset;
  border-color: #0d6dfdba;
  border-width: 10px;
  background-color: #0d6dfd2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Esto centrará el div en la página */
  margin-top:30px;
}

.mostrarEspecialidades{
  width: 50%;
  height: auto; /* Ajusta la altura según sea necesario */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Esto centrará el div en la página */
  margin-top:30px;
}

.labelFormulario{
  color:red;
}

.contenedor{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divImagenFrente {
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divImagenFrente img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedorTurnos{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divImagenTurnos{
  width: 11%;
  height: 11%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divImagenTurnos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedorAgenda{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divImagenAgenda{
  width: 29.5%;
  height: 29.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divImagenAgenda img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}