{% extends "base.html" %}
{% block titulo_pagina %}{% endblock %}
{% block titulo_principal %}Plantel de Médicos{% endblock %}
{% block principal %}

    {% if id == 1 %}
        <h3>Especialidad Clinica:
    {% elif id == 2 %}
        <h3>Especialidad Pediatría:
    {% elif id == 3 %}
        <h3>Especialidad Traumatología:
    {% endif %}
    {{medicos|length}} médicos</h3>
    <ul>
        {% for medico in medicos %}
            <li>
                <strong>Nombre:</strong> {{ medico.0 }}<br>
                <strong>Especialidad:</strong> {{ medico.1 }}<br>
                <strong>Matricula N°:</strong> {{ medico.2 }}
            </li><br>
        {% endfor %}
    </ul>
{% endblock %}