{% extends "../base.html" %}
{% block titulo_pagina %}{% endblock %}
{% block titulo_principal %}Plantel de Médicos{% endblock %}
{% block principal %}


{% comment %}
Desde la vista medicos se redirige a esta template 
y nos envia el id_especialidad ingresado por el usuario desde el navegador
en la variable id

tambien nos envia a esta template la lista de medicos 
que de acuerdo a el id_especialidad ingresado por el usuario, esa lista sera distinta
{% endcomment %}

    {% if id == 1 %}
        <h3>Especialidad Clinica:
    {% elif id == 2 %}
        <h3>Especialidad Pediatría:
    {% elif id == 3 %}
        <h3>Especialidad Traumatología:
    {% endif %}

    {% comment %} 
    En la lista de medicos que viene desde la vista
    vemos cuanta cantidad de registros vienen, con el medicos|length
    {% endcomment %}
    {{medicos|length}} médicos</h3>

    {% comment %}
    listamos medico por medico, teniendo en cuenta 
    que la posicion 0 sera la del nombre del medico
    la posicion 1, la especialidad  
    y la posicion 2 la matricula
    {% endcomment %}
    <ul>
        {% for medico in medicos %}
            <li>
                <strong>Nombre:</strong> {{ medico.0 }}<br>
                <strong>Especialidad:</strong> {{ medico.1 }}<br>
                <strong>Matricula N°:</strong> {{ medico.2 }}
            </li><br>
        {% endfor %}
    </ul>    
{% endblock %}