{% extends "../base.html" %}
{% block titulo %}Plantel de Médicos{% endblock %}
{% load static %}

{% block titulo_principal %}Nuestro plantel de médicos :{% endblock %}
{% block principal %}



{% comment %}
Desde la vista medicos se redirige a esta template 
y nos envia el id_especialidad ingresado por el usuario desde el navegador
en la variable id

tambien nos envia a esta template la lista de medicos 
que de acuerdo a el id_especialidad ingresado por el usuario, esa lista sera distinta
{% endcomment %}


        {% if medicos.count == 1 %}
            <h4 class="cantidad-medicos">{{medicos.count}} médico</h3>
        {% else %}
            <h4 class="cantidad-medicos">{{medicos.count}} médicos</h3>
        {% endif %}

    {% comment %} 
    En la lista de medicos que viene desde la vista
    vemos cuanta cantidad de registros vienen, con el medicos|length
    {% endcomment %}
    
        {% if user.is_authenticated and medicos.count == 0 %}
        <img class="card-img-top gif-cargue-medicos" src="{% static 'mediturnosApp/img/cargue-medicos.gif' %}" alt="Cargando...">
        {% endif %}
    {% comment %}
    listamos medico por medico, teniendo en cuenta 
    que la posicion 0 sera la del nombre del medico
    la posicion 1, la especialidad  
    y la posicion 2 la matricula
    {% endcomment %}
    {% comment %} <ul>
        {% for medico in medicos %}
            <li>
                <strong>Nombre:</strong> {{ medico.0 }}<br>
                <strong>Especialidad:</strong> {{ medico.1 }}<br>
                <strong>Matricula N°:</strong> {{ medico.2 }}
            </li><br>
        {% endfor %}
    </ul>     {% endcomment %}


   <br>
        <div class="container-card">
            <ul class="card-list">
              {% for medico in medicos %}
                <li class="card-item  medicos-nuevos-tarjetas">
                    <div class="card pt-2">
                        {% if medico.especialidades.count > 1 %}
                            <img class="card-img-top medicos-nuevos-img medicomultiple" src="{% static 'mediturnosApp/img/especialidad-multiple.png' %}" alt="Especialidad Predeterminada">
                        {% else %}
                            <img class="card-img-top medicos-nuevos-img" src="{{ medico.especialidades.first.imagen.url }}" alt="Especialidad">
                        {% endif %}
                        {% comment %} {% if medico.especialidad == 'Clínica' %}
                            <img class="card-img-top" src="{% static 'mediturnosApp/img/clinico.png' %}" alt="Logo">
                        {% endif %}
                        {% if medico.especialidad == 'Traumatología' %}
                            <img class="card-img-top" src="{% static 'mediturnosApp/img/pediatria.png' %}" alt="Logo">
                        {% endif %}
                        {% if medico.especialidad == 'Pediatría' %}
                        <img class="card-img-top" src="{% static 'mediturnosApp/img/traumatologia.png' %}" alt="Logo">
                        {% endif %}  {% endcomment %}
                        <div class="card-body">
                            <h5 class="card-title text-center mt-4">{{ medico.nombre_completo }}</h5>
                            {% comment %} <p class="card-text">{{ medico.especialidad }}</p> {% endcomment %}
                        </div>
                        <div class="card-footer w-100 text-center">
                            <small class="text-muted">Matricula N°: {{ medico.matricula }}</small>
                        </div>
                    </div>
                </li>
              {% endfor %}
            </ul>
        </div>
    <p class="fecha"> {{ fecha }} </p>
    
{% endblock %}


