{% extends "../base.html" %}
{% block titulo %}Medicos{% endblock %}
{% load static %}

{% block titulo_principal %}Plantel de Médicos{% endblock %}
{% block principal %}


<br>

<h4 class="cantidad-medicos">{{medicos|length}} médicos prestadores</h3>

<!-- <ul>
    {% for medico in medicos %}
        <li>
            <strong>Nombre:</strong> {{ medico.nombre }}<br>
            <strong>Apellido:</strong> {{ medico.apellido }}<br>
            <strong>Email:</strong> {{ medico.email }}<br>
            <strong>Matricula N°:</strong> {{ medico.matricula }}
        </li><br>
    {% endfor %}
</ul>      -->

<br>
    <div class="container-card">
        <ul class="card-list">
            {% for medico in medicos %}
            <li class="card-item">
                <div class="card">
                    {% if medico.especialidad == 'Clinica' %}
                        <img class="card-img-top" src="{% static 'mediturnosApp/img/clinico.png' %}" alt="Logo">
                    {% endif %}
                    {% if medico.especialidad == 'Pediatria' %}
                        <img class="card-img-top" src="{% static 'mediturnosApp/img/pediatria.png' %}" alt="Logo">
                    {% endif %}
                    {% if medico.especialidad == 'Traumatologia' %}
                    <img class="card-img-top" src="{% static 'mediturnosApp/img/traumatologia.png' %}" alt="Logo">
                    {% endif %}
                    {% if medico.especialidad == 'Endocrinologia' %}
                    <img class="card-img-top" src="{% static 'mediturnosApp/img/endocrinologia.png' %}" alt="Logo">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ medico.nombre }}
                        {{ medico.apellido }}</h5>
                        <p class="card-text">{{ medico.email }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Matricula N°: {{ medico.matricula }}</small>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

<!-- <br>
    <div class="container-card">
        <ul class="card-list">
            {% for medico in medicos %}
            <li class="card-item">
                <div class="card">
                    {% if medico.1 == 'Clinica' %}
                        <img class="card-img-top" src="{% static 'mediturnosApp/img/clinico.png' %}" alt="Logo">
                    {% endif %}
                    {% if medico.1 == 'Pediatria' %}
                        <img class="card-img-top" src="{% static 'mediturnosApp/img/pediatria.png' %}" alt="Logo">
                    {% endif %}
                    {% if medico.1 == 'Traumatologia' %}
                    <img class="card-img-top" src="{% static 'mediturnosApp/img/traumatologia.png' %}" alt="Logo">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ medico.0 }}</h5>
                        <p class="card-text">{{ medico.1 }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Matricula N°: {{ medico.2 }}</small>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div> -->
<p class="fecha"> {{ fecha }} </p>
    
{% endblock %}