{% extends "../base.html" %}
{% block titulo %}Médicos nuevos{% endblock %}
{% load static %}

{% block titulo_principal %}Médicos adheridos recientemente a nuestro equipo :{% endblock %}
{% block principal %}


<br>
{% comment %}
Desde la vista medicos se redirige a esta template 
y nos envia el id_especialidad ingresado por el usuario desde el navegador
en la variable id

tambien nos envia a esta template la lista de medicos 
que de acuerdo a el id_especialidad ingresado por el usuario, esa lista sera distinta
{% endcomment %}

    {% if id == 1 %}
        <h4>Especialidad Clinica:
    {% elif id == 2 %}
        <h4>Especialidad Pediatría:
    {% elif id == 3 %}
        <h4>Especialidad Traumatología:
    {% endif %}

    {% comment %} 
    En la lista de medicos que viene desde la vista
    vemos cuanta cantidad de registros vienen, con el medicos|length
    {% endcomment %}
    <h4 class="cantidad-medicos">{{medicos.count}} médicos</h3>

    {% comment %}
    listamos medico por medico, teniendo en cuenta 
    que la posicion 0 sera la del nombre del medico
    la posicion 1, la especialidad  
    y la posicion 2 la matricula
    {% endcomment %}
    {% comment %} <ul>
        {% for medico in medicos %}
            <li>
                <strong>Nombre:</strong> {{ medico.0 }}<br>
                <strong>Especialidad:</strong> {{ medico.1 }}<br>
                <strong>Matricula N°:</strong> {{ medico.2 }}
            </li><br>
        {% endfor %}
    </ul>     {% endcomment %}


   <br>
        <div class="container-card">
            {% comment %} <ul class="card-list">
              {% for medico in medicos %}
                <li class="card-item  medicos-nuevos-tarjetas">
                    <div class="card">
                        <img class="card-img-top medicos-nuevos-img" src="{% static 'mediturnosApp/img/medicoengeneral.png' %}" alt="Logo">
                        {% if medico.especialidad== 'Clínica' %}
                            <img class="card-img-top" src="{% static 'mediturnosApp/img/clinico.png' %}" alt="Logo">
                        {% endif %}
                        {% if medico.especialidad == 'Traumatología' %}
                            <img class="card-img-top" src="{% static 'mediturnosApp/img/pediatria.png' %}" alt="Logo">
                        {% endif %}
                        {% if medico.especialidad == 'Pediatría' %}
                        <img class="card-img-top" src="{% static 'mediturnosApp/img/traumatologia.png' %}" alt="Logo">
                        {% endif %}  
                        <div class="card-body">
                            <h5 class="card-title">{{ medico.nombre_completo }}</h5>
                            {% comment %} <p class="card-text">{{ medico.especialidad }}</p> {% endcomment %}
                        {% comment %} </div>
                        <div class="card-footer">
                            <small class="text-muted">Matricula N°: {{ medico.matricula }}</small>
                        </div>
                    </div>
                </li>
              {% endfor %}
            </ul> {% endcomment %} 

            <ul class="card-list">
                {% for medico in medicos %}
                    <li class="card-item medicos-nuevos-tarjetas">
                        <div class="card">
                            {% if medico.especialidades.count == 1 %}
                                {% if medico.especialidades.first.descripcion == 'Clínica' %}
                                    <img class="card-img-top img-clinico" src="{% static 'mediturnosApp/img/clinico.png' %}" alt="Logo">
                                {% elif medico.especialidades.first.descripcion == 'Traumatología' %}
                                    <img class="card-img-top img-traumatologia" src="{% static 'mediturnosApp/img/traumatologia.png' %}" alt="Logo">
                                {% elif medico.especialidades.first.descripcion == 'Pediatría' %}
                                    <img class="card-img-top img-pediatria" src="{% static 'mediturnosApp/img/pediatria.png' %}" alt="Logo">
                                {% elif medico.especialidades.first.descripcion == 'Cirugía' %}
                                    <img class="card-img-top img-cirugia" src="{% static 'mediturnosApp/img/cirugia.png' %}" alt="Logo">

                                {% else %}
                                    <img class="card-img-top img-multiespecialidad" src="{% static 'mediturnosApp/img/especialidad-multiple.png' %}" alt="Logo">
                                {% endif %}
                            {% else %}
                                <img class="card-img-top img-multiespecialidad" src="{% static 'mediturnosApp/img/especialidad-multiple.png' %}" alt="Logo">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ medico.nombre_completo }}</h5>
                                {% if medico.especialidades.count == 1 %}
                                <small class="text-muted texto-especialidad-medico"> Especialidad: {{ medico.especialidades.first.descripcion }}</small>
                                {% else %}
                                <small class="text-muted texto-especialidad-medico"> Especialidad: Múltiple</small>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Matricula N°: {{ medico.matricula }}</small>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
              
            

        </div>
    <p class="fecha"> {{ fecha }} </p>
    
{% endblock %}


